// reset

*, body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}

// 

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 50px;
    background: #000;
}